body {
  background: #a38f8a;
  margin: 0;
  font-family: arial;
}

#book-header {
  display: flex;
  justify-content: center;
  background: #5b8153;
  opacity: 0.8;
  height: 7rem;
  padding: 1rem;
}

#book-header img {
  height: 6rem;
  width: auto;
}

#book-collection {
  margin: 2rem;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 0.3rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #5b8153;
  box-shadow: 18px 13px 10px -4px rgb(189 189 189 / 83%);
  width: 100%;
  max-width: 400px;
}

.book-avatar {
  justify-self: center;
  height: 12rem;
  width: auto;
}

button {
  position: relative;
  background-color: #5b8153;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

.buttonContainer {
  text-align: center;
  padding: 1rem;
  
}

button:hover {
  background-color: whitesmoke;
  border:#5b8153 solid 1px;
  color: #5b8153;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  background: #5b8153;
  opacity: 0.8;
}

.add-book-form {
  width: 80%;
}

.submit {
  position: relative;
  background-color: #5b8153;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: arial;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #5b8153 solid 1px;
  color: #5b8153;
}

.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: arial;
  margin: 3px;
}

.book {
  box-shadow: 18px 13px 10px -4px rgb(189 189 189 / 83%);
  width: 100%;
  max-width: 400px;
}

.book.book-sm{
  max-width: 250px;
}

.recommendation .book {
  max-width: 150px;
}

@media (min-width: 600px) {
  .book-info{
      justify-content: space-between;
  }
}

